[submodule "libkrun"]
	path = libkrun
	url = https://github.com/tjfontaine/libkrun.git
	branch = bifrost
[submodule "libkrunfw"]
	path = libkrunfw
	url = https://github.com/tjfontaine/libkrunfw.git
	branch = bifrost
[submodule "smolvm-sdk"]
	path = smolvm-sdk
	url = git@github.com:smol-machines/smolvm-sdk.git
